@{
    Layout = "_Layout";
}
@model WebMVC.Areas.Admin.Models.GenresViewModel

<div class="container">
    <h2 class="my-4">Genres Management</h2>

    <table class="table table-striped table-bordered" id="genresTable">
        <thead class="thead-dark">
            <tr>
                <th>Genre Name</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr data-genre-id="@genre.Id">
                    <td>
                        <input type="text" class="form-control" value="@genre.Name" data-field="Name" />
                    </td>
                    <td>
                        <button class="btn btn-primary btn-save">Save</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-delete">Delete</button>
                    </td>
                </tr>
            }
            <tr id="newGenreRow" style="display:none;">
                <td><input type="text" class="form-control" data-field="Name" placeholder="Enter genre name" /></td>
                <td>
                    <button class="btn btn-success btn-save-new">Save</button>
                </td>
                <td>
                    <button class="btn btn-secondary btn-cancel-new">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-success my-3" id="addNewGenreButton"><i class="fas fa-plus"></i> Add New Genre</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/genres.js"></script>
